.app {
    display: flex;
    justify-content: center;

    .container {

        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        // LOGIN & REGISTER

        .auth {
            display: flex;

            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            
            background-color: lightblue;

            h1 {
                font-size: 20px;
                color:teal;
                margin-bottom: 20px;
            }

            form {
                display: block;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                width: 300px;
                gap: 20px;

                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin-bottom: 20px;
                    box-sizing: border-box;
                    border: 2px solid #ccc;
                    border-radius: 4px;
                }


                button {
                    width: 100%;
                    background-color: #4CAF50;
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }

                span {
                    font: 12px;
                    text-align: center;
                }

                p {
                    color: lightcoral;
                    
                }

            }

        }

        // NAVBAR

        .navbar {
            .container {
                padding: 10px;
                display: flex;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 50px;
                align-items: center;
                justify-content: space-between;
                background-color: #333;
                color: white;

                .links {
                    display: flex;
                    gap: 40%;
                }

                .panel {
                    gap: 2%;

                    span {
                        cursor: pointer;
                    }

                    .dodaj {
                        background-color: #4CAF50;
                        color: #333;
                        border: none;
                        border-radius: 4px;
                        padding: 8px 12px;
                        cursor: pointer;
                        margin-right: 25px;
                        margin-left: 10px;
                        text-transform: uppercase;
                    }

                    .logout {
                        background-color: #4CAF50;
                        color: #333;
                        border: none;
                        border-radius: 4px;
                        padding: 8px 12px;
                        cursor: pointer;
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    .link {
                        margin-right: 25px;
                    }

                    .logout:hover {
                        text-decoration: underline;
                    }
                }
                    
                }
            }

            
        }

        //POKAZYWANIE DYŻURÓW
        .worktables {
            display: flexbox;
            position: fixed;
            top: 15%;
            text-align: center;

            table {
                border: 1px solid black;

                .bold {
                    font-weight: bold;
                }

                td {
                    padding: 15px;
                }
            }
        }

        .AddWorktable{
            position: fixed;
            top: 15%;

            input {
                margin: 10px;
            }
        }

        // FOOTER
        footer {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            height: 5%;
            background-color: #333;
            text-align: center;
            padding-top: 10px;

            h3 {
                color: white;
                
            }
        }

    }